body {
  height: 100%;
  margin: 0;
  padding: 20px; /* 画面の間に20pxのスペースを追加 */
}

.map_container {
  width: 100%; /* 画面幅に合わせてマップの幅を調整 */
  height: 16rem; /* マップの高さを設定 */
  margin-bottom: 30px; /* 下の要素とのマージンを設定 */
  margin-top: 15px;
}

.info_data {
  font-size: 19px;
  font-family: "YuGothic";
  font-weight: bold;
  text-align: center; /* 中央配置 */
  position: relative;
}

.info_data:after {
  content: ""; /* 空のコンテンツを追加 */
  position: absolute; /* 絶対位置を設定 */
  left: 50%; /* 左から50%の位置に配置 */
  bottom: -7px; /* 下から0の位置に配置 */
  transform: translateX(-50%); /* X軸方向に中央揃えにする */
  width: 10%; /* 下線の長さを50%に設定 */
  height: 2px; /* 下線の高さ（太さ）を設定 */
  background-color: #000; /* 下線の色を設定 */
}

.info {
  font-family: "YuGothic";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.6;
}

.info_content:not(.no-border) {
  border-bottom: 1px solid rgb(209 209 210);
  font-family: "YuGothic";
  font-weight: normal;
}

p.info_content {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.official_button {
  display: block;
  width: fit-content;
  margin: 0 auto; /* ここを追加 */
  border-style: solid;
  text-decoration: none;
  color: #000000;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
}

.spot_recomend {
  font-size: 19px;
  font-family: "YuGothic";
  font-weight: bold;
}
